body{
    background-color: black;
    color: white;
    text-align: center
}

h3{
    color: pink !important;
    
}

.yy{
    color: white;
    text-decoration: bold;
    text-decoration: underline;
    
}